/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
/* FORCE SOLID MODAL FOR ANDROID & DUPLICATED TAB BUG */
.force-solid-modal::part(backdrop) {
  background: #000000ff !important;
  opacity: 1 !important;
}

.force-solid-modal::part(content) {
  background: #ffffffff !important;
  opacity: 1 !important;
}

.force-solid-modal {
  --background: #ffffffff !important;
  --ion-backdrop-opacity: 1 !important;
}
.ion-button-round {
  border-radius: 50%;
}
